{
   "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "flags" : [ "shipLockerPosition" ],
      "object" : "novakidshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "novakidStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true,
	  "backgroundResidual" : true
    },
    
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "novakidshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      },
	  "backgroundResidual" : true
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "novakidtechstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true,
	  "backgroundResidual" : true
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipdetails",
      "object" : "brokennovakidfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
	  "backgroundResidual" : true
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipdetails",
      "object" : "novakidfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true,
	  "backgroundResidual" : true
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight",
      "objectResidual" : true,
	  "backgroundResidual" : true
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "novakidteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      },
	  "objectResidual" : true,
	  "backgroundResidual" : true
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "novakidteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      },
	  "backgroundResidual" : true
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "apexshipdetails",
      "object" : "novakidcaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      },
	  "objectResidual" : true,
	  "backgroundResidual" : true
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
	  "backgroundResidual" : true
    },

    {
      "value" : [255, 255, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true
    }
  ]
}
